@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-primary text-white d-flex flex-column justify-content-center align-items-center" style="height: 400px;">
    <div class="text-center px-3">
        <h1 class="display-3 fw-bold">Selamat Datang</h1>
        <p class="lead mt-3">Menemani perjalanan Anda dengan solusi terbaik dan profesional</p>
    </div>
</div>
